.ant-slider {
  .ant-slider-rail {
    background-color: #4a2535 !important;
  }

  .ant-slider-track {
    background-color: #ec4878 !important;
  }

  .ant-slider-handle {
    visibility: hidden;
    border-color: #ec4878 !important;
    background-color: #fff !important;
  }

  &:hover {
    .ant-slider-rail {
      background-color: #4a2535 !important;
    }

    .ant-slider-track {
      background-color: #ff6987 !important;
    }

    .ant-slider-handle {
      visibility: visible;
    }
  }
}
